@font-face {
    font-family: "Circular Std";
    src: url("fonts/CircularStd-Medium.otf");
}
  
@font-face {
font-family: "Circular Two";
src: url("fonts/CircularStd-Book.otf");
}

@font-face {
font-family: "Circular Three";
src: url("fonts/CircularStd-Bold.otf");
}

@font-face {
font-family: "Circular Four";
src: url("fonts/CircularStd-Black.otf");
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: black;
    color: #fff;
    font-family: "Circular Two";
    padding-top: 50px;
  }

.header {
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
    padding: 0 36px;
}

article.item.text-item{
    text-align: center;
    margin-bottom: 62px;
}

article h3{
    font-size: 16px;
    font-family: "Circular Two";
    margin-bottom: 20px;
}

article h2{
    font-size: 28px;
    font-family: "Circular Three";
    margin-bottom: 32px;
}

article p{
    font-size: 20px;
    font-family: "Circular Two";
    margin-bottom: 30px;
    line-height: 25px;
}

.apply{
    padding: 16px 28px;
    background-color: #4784f4;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Circular Two";
    border: 1px solid #4784f4;
    border-radius: 56.5px;
    text-decoration: none;
    transition: all 100ms linear;
}

.video-item {
    margin: 0 auto;
}

article video{
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
}


.mobile-section {
    text-align: center;
    line-height: 2;
    padding: 15px 10px;
}

.small-footer li {
    list-style: none;
    display: inline-block;
}

.mobile-section a {
    text-decoration: none;
    color: #fff;
}
.main-footer {
    display: none;
}

.mobile-section {

}


  /* @media only screen and (max-width: 768px){
      .header{
          width: 100%;
          background-color: blue;
      }
  } */